[MASTER]
ignore=tests

[MESSAGES CONTROL]
disable=

[FORMAT]
max-line-length=120

[REPORTS]
output-format=colorized

[DESIGN]

[TYPECHECK]

[IMPORTS]

[LOGGING]

[MISCELLANEOUS]

[VARIABLES]

[CLASSES]

[EXCEPTIONS]

[SIMILARITIES]

[STRING]

[REFACTORING]

[PYLINT]

[REFACTOR]

[UNUSED IMPORTS]
disable=W0611
